body {
  width: 100%;
  margin: 0;
}

#game-expl {
  position: relative;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#game-rules {
  position: relative;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#container {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.choices {
  transition: transform 0.2s;
  width: 20%;
  margin: 1%;
}

.choices:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#flex-field {
  border: 1px solid #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countdown-field {
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
  letter-spacing: -0.4px;
  word-spacing: -0.2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

#score-field {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
  letter-spacing: -0.4px;
  word-spacing: -0.2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

#bot {
  position: absolute;
  margin-left: 60%;
  margin-top: -25%;
}
